<!--Base template with nav bar-->

<html>
    <head>
        {% if title %}
        <title>{{ title }} - vlog</title> 
        {% else %}
        <title>This should be a title</title>
        {% endif %}
    </head>
    <body>
        <div>
            My blog: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('predict') }}">Predict</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul> <!--Unordered List-->
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul> 
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>