<!--This is the index template-->
{% extends "base.html" %}

{% block content %}
    {% if current_user.is_anonymous %}
    <h1>Sign in to see your posts</h1>
    {% else %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <form action="" method="post">
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
    <p>
        {{ post.author.username }} says <b>{{ post.body }}</b>
    </p>
    {% endfor %}
    {% endif %}
{% endblock %}
